body {
    background: #242424 !important;
}

/* adbar and social network buttons (hide) */
.pageheader > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(3) > form:nth-child(1) > table:nth-child(8),
.pageheader > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) {
    /*remove this line below if you want the chat icons back (and the adbar) */
    display: none;
}

#projectlogo > a:nth-child(1) > img:nth-child(1) {
    width: 0px !important;
    height: 30px !important;
    margin-top: 0px !important;
    padding-left: 106px;
    top: 4px !important;
    left: 8px;
    position: absolute;
}
#side-nav {
    top: inherit !important;
}
#titlearea {
    height: 40px;
}
#navrow1 {
    height: 30px;
    overflow: hidden;
    font-size: 8px !important;
    top: 10px !important;
    position: absolute;
    left: 120px
}

body * {
    color: ivory;
    background: transparent !important;
}

body a {
    color: #6688FF !important;
}
